.stats_block {
  display: flex;
  flex-wrap: wrap;
}

.stats_block div {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  align-items: center;
  padding: 10px;
}

.stats_block label {
  width: 50%;
  text-align: end;
}

.stats_block input {
  height: 40px;
  width: 68px;
  border: 3px solid #A04C7D;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
}

.stats_block div:not(:last-child) {
  width: 50%;
}

.stats_block div:last-child {
  width: 100%;
}